<footer class="footer">
    <div class="footer__content container" id="contact">
        <h2 class="footer__title">- get in touch with us -</h2>
        <p class="footer__text">
            Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio.
            <span class="footer__text--extra">Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</span>
        </p>
        <div class="footer__social-icons">
            <a class="footer__icon" href="#"><img src="./svgicons/RSS-icon.svg" alt="RSS" title="RSS" /></a>
            <a class="footer__icon" href="#"><img src="./svgicons/Facebook-icon.svg" alt="Facebook" title="Facebook" /></a>
            <a class="footer__icon" href="#"><img src="./svgicons/Twitter-icon.svg" alt="Twitter" title="Twitter" /></a>
            <a class="footer__icon" href="#"><img src="./svgicons/Dribbble-icon.svg" alt="Dribbble" title="Dribbble" /></a>
            <a class="footer__icon" href="#"><img src="./svgicons/Pinterest-icon.svg" alt="Pinterest" title="Pinterest" /></a>
        </div>

        <div class="footer__contact">
            <a href="https://www.google.com/maps/search/Moonshine%20St.%2014-05%20Light%20City" target="_blank">Moonshine St. 14-05 Light City</a>
            <span>/</span>
			<a href="tel:+001234567890">T.&nbsp;+00 (123) 456 78 90</a>
			<span>/</span>
			<a href="mailto:first.last@email.com">first.last@email.com</a>
        </div>
    </div>
</footer>
