<header class="header">
    <div class="container">
        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
                <li class="menu__item"><a class="menu__link" href="#">About Us</a></li>
                <li class="menu__item"><a class="menu__link" href="#">Our Journal</a></li>
                <li class="menu__item"><a class="menu__link" href="#">Projects</a></li>
                <li class="menu__item"><a class="menu__link" href="#">news</a></li>
                <li class="menu__item"><a class="menu__link" href="#">features</a></li>
                <li class="menu__item"><a class="menu__link" href="#">contact</a></li>
            </ul>
            <button class="menu__button hamburger"><span></span></button>
        </nav>
    </div>
    <div class="container">
        <div class="header__img">
            <img src="./img/intro-img-1.png" alt="intro" />
        </div>
    </div>
</header>
