<main class="main">
    <section class="posts">
        <div class="container">
            <div class="posts__content">
                <h2 class="posts__title">- our Recent posts</h2>
                <div class="posts__items">
                    <article class="posts__item item">
                        <figure class="item__image">
                            <img src="./img/post-img-1.png" alt="image" />
                        </figure>
                        <div class="item__info">
                            <h2 class="item__title">Aenean Adipiscing Etiam Vestibulum</h2>
                            <div class="item__comment">
                                <span class="item__comment--caption">Photography, Journal</span>
                                <span class="item__comment--caption">9 Comments</span>
                            </div>
                            <div class="item__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</div>
                        </div>
                    </article>

                    <article class="posts__item item">
                        <figure class="item__image">
                            <img src="./img/post-img-2.png" alt="image" />
                        </figure>
                        <div class="item__info">
                            <h2 class="item__title">Aenean Adipiscing Etiam Vestibulum</h2>
                            <div class="item__comment">
                                <span class="item__comment--caption">Photography, Journal</span>
                                <span class="item__comment--caption">9 Comments</span>
                            </div>
                            <div class="item__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</div>
                        </div>
                    </article>

                    <article class="posts__item item">
                        <figure class="item__image">
                            <img src="./img/post-img-3.png" alt="image" />
                        </figure>
                        <div class="item__info">
                            <h2 class="item__title">Aenean Adipiscing Etiam Vestibulum</h2>
                            <div class="item__comment">
                                <span class="item__comment--caption">Photography, Journal</span>
                                <span class="item__comment--caption">9 Comments</span>
                            </div>
                            <div class="item__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</div>
                        </div>
                    </article>

                    <article class="posts__item item">
                        <figure class="item__image">
                            <img src="./img/post-img-4.png" alt="image" />
                        </figure>
                        <div class="item__info">
                            <h2 class="item__title">Aenean Adipiscing Etiam Vestibulum</h2>
                            <div class="item__comment">
                                <span class="item__comment--caption">Photography, Journal</span>
                                <span class="item__comment--caption">9 Comments</span>
                            </div>
                            <div class="item__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <section class="instagram-shots">
        <div class="container">
            <div class="instagram-shots__content">
                <h2 class="instagram-shots__title">- Last Instagram Shot</h2>
                <h2>
                    <a class="instagram-shots__link" href="#">go to our instagram page -</a>
                </h2>
            </div>
            <div class="instagram-shots__images">
                <div class="instagram-shots__image">
                    <img src="./img/post-1.png" alt="img" />
                </div>
                <div class="instagram-shots__image">
                    <img src="./img/post-2.png" alt="img" />
                </div>
                <div class="instagram-shots__image">
                    <img src="./img/post-3.png" alt="img" />
                </div>
                <div class="instagram-shots__image">
                    <img src="./img/post-4.png" alt="img" />
                </div>
            </div>
        </div>
    </section>
</main>
