@mixin font-roboto-normal {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

@mixin font-roboto-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
}

@mixin container {
    max-width: 1170px;
    margin: 0 auto;
}

@mixin _768 {
    @media (min-width: 768px){
        @content;
    }
}

@mixin _1200 {
    @media (min-width: 1200px){
        @content;
    }
}