$bgcolor-drop: #F5F5F5;
$bgcolor-drop-hover: #E5E5E5;
$bgcolor-shots: #F7F7F7;
$color-black: #000000;
$color-hover: #57A4A4;
$color-primary: #4E4E4E;
$color-white: #FFFFFF;
$footer-text: #B9B9B9;
$footer-title: #FEFEFE;
