.footer {
    background-color: $color-black;
    height: 315px;
    padding-top: 38px;

    @include _768 {
        height: 332px;
        padding-top: 57px;
    }

    @include _1200 {
        height: 355px;
        padding-top: 66px;
    }

    &__content {
        max-width: 303px;
        text-align: center;

        @include _768 {
            max-width: 684px;
        }
    }

    &__title {
        color: $footer-title;
    }

    &__text {
        margin-top: 8px;
        margin-bottom: 26px;
        font-size: 12px;
        line-height: 20px;
        color: $footer-text;

        @include _768 {
            margin-top: 22px;
            margin-bottom: 37px;
            font-size: 16px;
            line-height: 28px;
        }
    }

    &__text--extra {
        display: none;

        @include _768 {
            display: inline;
        }
    }

    &__social-icons {
        display: flex;
        justify-content: center;
        gap: 5px;
    }

    &__icon {
        width: 34px;
        height: 34px;
    }

    &__icon img:hover {
        filter: brightness(1.2);
    }

    &__contact,
    &__contact a {
        margin: 25px auto 47px;
        max-width: 235px;
        font-size: 14px;
        line-height: 24px;
        color: $footer-text;

        @include _768 {
            margin: 34px auto 56px;
            max-width: 613px;
            font-size: 16px;
            line-height: 26px;
        }

        @include _1200 {
            margin-bottom: 70px;
            max-width: 613px;
            font-size: 16px;
            line-height: 26px;
        }
    }

	&__contact span {
		margin: 0 10px;
	}
    // &__contact > :not(:last-child)::after {
    //     margin: 0 10px;
    //     content: '/';
    // }
}
