.header {
    &__img {
        padding-top: 83px;

        @include _768 {
            padding-top: 0;
        }

        img {
            max-width: 100%;
        }
    }
}

.menu {
    position: relative;

    &__list {
        width: 182px;
        height: 0;
        overflow: hidden;
        background-color: $bgcolor-drop;
        display: flex;
        flex-direction: column;
        transition: all 0.25s;
        position: absolute;
        right: 0;
        top: 60px;

        @include _768 {
            width: 100%;
            height: 55px;
            overflow: visible;
            flex-direction: row;
            gap: 34px;
            justify-content: center;
            align-items: center;
            background-color: $color-white;
            position: static;
            margin-top: 23px;
            margin-bottom: 28px;
        }

        @include _1200 {
            gap: 68px;
            margin-top: 29px;
            margin-bottom: 34px;
        }
    }

    &__item {
        padding: 4px 0 4px 12px;
        transition: all 250ms;
        cursor: pointer;

        @include _768 {
            padding: 0;
        }

        &:hover {
            background-color: $bgcolor-drop-hover;

            @include _768 {
                background-color: transparent;
                color: $color-hover;
            }
        }
    }

    &__link {
        color: $color-primary;
        font-size: 11px;
        line-height: 22px;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        width: 100%;

        &:focus {
            color: $color-hover;
        }
    }

    &__button {
        top: 23px;

        @include _768 {
            display: none;
        }
    }
}

.hamburger {
    position: absolute;
    right: 0;
    height: 37px;
    width: 44px;
    background-color: $color-black;
    transition: all 250s ease;
    border: none;

    & span,
    &::before,
    &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 17px;
        left: calc(50% - 9px);
        background-color: $color-white;
        transition: all 100ms ease;
    }

    & span {
        top: calc(50% - 1px);
    }

    &::before {
        top: 13px;
    }

    &::after {
        bottom: 12px;
    }
}

.open {
    & .hamburger {
        span {
            width: 0;
        }

        &::before {
            transform: rotate(45deg) translate(4px, 3px);
        }

        &::after {
            transform: rotate(-45deg) translate(4px, -3px);
        }
    }
}

.open {
    & .menu {
        &__list {
            height: 216px;

            @include _768 {
                height: 55px;
            }
        }
    }
}
