.posts {
    &__content {
        margin-top: 38px;
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
        margin-top: 24px;
        margin-bottom: 43px;

        @include _768 {
            margin-bottom: 60px;
        }

        @include _1200 {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 32px;
            column-gap: 55px;
            margin-bottom: 69px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 11px;

        @include _768 {
            flex-direction: row;
            gap: 20px;
        }
    }

    &__item {
        &:last-child {
            display: none;

            @include _768 {
                display: inline-flex;
            }
        }

        @include _1200 {
            &:nth-child(1) {
                order: 1;
            }

            &:nth-child(2) {
                order: 3;
            }

            &:nth-child(3) {
                order: 2;
            }

            &:nth-child(4) {
                order: 4;
            }
        }
    }

    &__item:hover {
        opacity: 40%;
    }

    &__title {
        text-transform: uppercase;

        @include _768 {
            font-size: 16px;
        }
    }
}

.item {
    &__info {
        @include _768 {
            max-width: 377px;
        }
    }

    &__image {
        width: 160px;
        height: 140px;
        transition: all 250ms;
        cursor: pointer;

        img {
            max-width: 100%;
        }
    }

    &__title {
        line-height: 30px;
        text-transform: none;
        transition: color 250ms;
        cursor: pointer;

        @include _768 {
            font-size: 16px;
        }
    }

    &__comment {
        font-size: 11px;
        line-height: 20px;
        color: #7c7c7c;
        cursor: pointer;

        @include _768 {
            font-size: 12px;
        }

        &--caption:last-child::before {
            margin: 0 10px;
            content: '/';
        }
    }

    &__text {
        line-height: 26px;
        color: #5c5c5c;
        display: none;

        @include _768 {
            display: inline-block;
        }
    }
}
