.instagram-shots {
    background-color: $color-white;
    padding-bottom: 42px;

    @include _768 {
        background-color: $bgcolor-shots;
        padding-bottom: 50px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        padding-top: 38px;
        margin-bottom: 13px;

        @include _768 {
            padding-top: 47px;
            margin-bottom: 35px;
        }

        @include _1200 {
            margin-bottom: 24px;
        }
    }

    &__link {
        font-size: 13px;
        color: $color-primary;
        display: none;

        @include _768 {
            display: inline-block;
        }
    }

    &__images {
        height: 301px;
        display: grid;
        justify-content: start;
        column-gap: 10px;
        grid-template-columns: repeat(1, 301px);
        overflow-y: hidden;

        @include _768 {
            max-width: 768px;
            height: 249px;
            grid-template-columns: repeat(3, 249px);
        }

        @include _1200 {
            column-gap: 10px;
            max-width: 1170px;
            grid-template-columns: repeat(4, 285px);
            height: 285px;
        }
    }

    &__image {
        width: 301px;
        height: 301px;
        overflow: hidden;
        cursor: pointer;

        img {
            max-width: 100%;
            transition: transform 250ms;
            &:hover {
                transform: scale(1.2);
            }
        }

        @include _768 {
            width: 249px;
            height: 249px;
        }

        @include _1200 {
            width: 285px;
            height: 285px;
        }
    }
}
