@import '_reset';
@import '_fonts';
@import '_variables';
@import '_mixins';

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    width: 100%;
    @include font-roboto-normal;
    background: $color-white;
}

//! Перевірка на видалення невикористаних стилів
.unused-style {
	width: 100px;
	height: 100px;
}

.container {
    @include container;
}

h2 {
	@include font-roboto-bold;
    text-transform: uppercase;
    color: $color-primary;

    @include _768 {
        font-size: 16px;
    }
}

@import 'header';
@import 'main';
@import 'footer';
